body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #cbd5f0;
	margin: 0;
	max-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    flex:auto;
    align-items: center;
	margin-bottom: 20px;
	margin-top: 0px;
	background-color: #36517c;
	padding: 10px;
}

.header-container{
    font-size: 46px;
	font-weight: bold;
    border: 2px solid white;
    border-radius: 2%;
    padding: 10px;
	color: white;
}

.gridline{
	display: flex;
	flex: 1;
	justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    flex: auto;
    gap: 20px;
}

.resetbutton,
.gridsizebutton,
.randomcolor {
    background-color: #67ddab;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    border-radius: 7%;
    cursor: pointer;
    height: 30px;
    color: #018DA5;
    font-size: 12px;
}
